body {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #222;
    align-content: center;
}
canvas {
    
    border-radius: 50%;
    background-color: #222;
    box-shadow: 2px 2px 8px rgba(32,32,32,0.4), -2px -2px 8px rgba(10,10,10,1);
}

.clock {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translateX(-50%) translateY(-50%); */
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;

}

.card {
    margin: 10px;
    /* background-color: #98acf8; */
    padding: 0.6rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.2);
    border-radius:5px;
    border: transparent;
  }
  
  .date {
    color: #17D4FE;;
    font-size: 60px;
  }